.container {
  background: rgba(204, 204, 204, 0.336); 
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  justify-content: center;
  width: 400px;
  height: 520px;
  border: none;
  border-radius: 5px;
}

